// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	background-color: #f1f1f1;
}

h1, h2, h3 {
	color: rgba(0,0,0,0.87);
    font-size: 2em;
    font-weight: 400;
    margin: 16px;
    line-height: 28px;
    margin-left: 0;
    padding-left: 0;
}


.card {
	border-radius: 0;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    z-index: 1;
    border: none;
    padding-bottom: 20px;
}

// .sticky:after {
//   content: '';
//   width: 0;
//   height: 0;
//   border-style: solid;
//   border-width: 0 30px 30px 0;
//   border-color: transparent #db4437 transparent transparent;
//   right: 0;
//   top: 0;
//   position: absolute;
// }

.pinned {
	float: right;
    text-align: right;
    margin: 10px 10px 0 0;
    padding: 3px;
    color: #424242;
}

/*red background color fade on load for sticky posts*/
// .card.sticky {
// 	 animation: colorchange 3s; /* animation-name followed by duration in seconds*/
//          /* you could also use milliseconds (ms) or something like 2.5s */
//       -webkit-animation: colorchange 3s; /* Chrome and Safari */
//       animation-iteration-count: 1;
//       animation-timing-function: ease-in-out;
// 	-webkit-animation-timing-function: ease-in-out;
// 	border: 3px solid #db4437;
//     }

//     @keyframes colorchange
//     {
//       0% {border: white 3px solid;}
//       100%   {border: #db4437 3px solid;}
//     }

//     @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
//     {
//       0%   {border: white 3px solid;}
//       100%   {border: #db4437 3px solid;}
//     }



.navbar {
	color: #676767;
	-webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
    background-color: #fff;
    font-weight: 500;
    text-overflow: ellipsis;
    height: 65px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand a {
	color: #676767;
}

.content-area, #left-sidebar {
	padding-top: 60px;
	overflow: hidden;
}

.whats-new {
	display: inline-block;
	color: #424242;
}

#write {
	border: none;
	background-color: #fff;
	font-size: 1.2em;
	width: 100%;
	display: block;	
	color: #666666;
}

.plus h2 {
	color: rgba(0,0,0,0.87);
    font-size: 20px;
    font-weight: 300;
    margin: 16px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    min-height: 56px;
    margin-left: 0;
    // padding-left: 20px;
}

#left-sidebar ul{
	list-style-type: none;
	width: 200px;
	margin: 0;
	padding: 0;
}

#main-menu {
	margin-right: 80px;
}

#left-sidebar li {
	padding: 10px 15px;
	list-style-type: none;
	display: block;	
}

#left-sidebar li:hover {
	background-color: #e7e7e7;
}

#left-sidebar li a {
	display: block;
	width: 100%;
	height: auto;
	vertical-align: middle;
	line-height: 30px;
}


#left-sidebar i {
	margin-right: 20px;
	font-size: 1.4em;
}

#left-sidebar h3 {
	font-size: 1.2em;
	color: #676767;
	text-transform: uppercase;
	border-bottom: 1px solid #676767;
	font-weight: 300;
}

.plus h2:after {
	content: '';
	border-bottom: 1px solid #ebebeb;
	width: 90%;
    margin: 16px auto;
    display: block;
}

.card .card-text {
	font-size: 14px;
    line-height: 20px;
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card p {
	    padding: 10px 20px;    
}

.card p img {
	padding: 10px 0;
	margin: 0 -20px 0 -20px;	
}

.plus-author {
	color: rgba(0,0,0,0.87);
    font-size: 14px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    -webkit-box-flex: auto;
    -webkit-flex: auto;
    flex: auto;
    padding: 20px 20px 10px 20px;
}

.plus-photo {
	object-fit: cover;
	width: 100%;
}

.plus-author-photo {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin-right: 10px;
}

.plus-author-name {
	display: inline-block;
	vertical-align: top;
}

.plus-date {
	display: inline-block;
	float: right;
	vertical-align: top;
}


.plus-logged {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	margin-right: 10px;
	margin-left: 0px;
}

.plus-logged-menu {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position: absolute;
	right: 40px;
	top: 15px;
}

.plus-comment-box {
	font-size: .8em;
	color: rgba(0,0,0,.6);
	margin-top: 15px;
}

.comment-count {
	padding-left: 20px;
	font-size: .8em;
	color: rgba(0,0,0,.6);
	margin-bottom: 8px;
}

.card-text img {
	margin-bottom: 15px;
}

.see-comments {
	border: none;
	padding-left: 0;
	margin-left: 0;
	color: #2962ff;
	font-size: 12px;
	text-transform: uppercase;
}

.comment-holder p {
	padding-left: 50px;	
	padding-top: 0px;
}

.comment-author {
	font-weight: 700;
	color: #000;
	display: inline-block;
}

.comment-author-img{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
	display: inline-block;
}

.edit-link {
	text-align: right;
}

//modal editor
.modal-content {
	border-radius: 0;
}

#closer, #post-plus-button {
	color: rgba(0,0,0,0.87);
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;    
    text-transform: uppercase;
    border: none;    
}

#closer {	
    right: 140px;
    bottom: 20px;
}

#post-plus-button {
	right: 30px;
    bottom: 10px;
    padding: 10px 20px;
    background-color: #efefef;
    border-radius: 8px;
    display: block;
}

#gform_submit_button_1 {
	color: #fff;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
	position: absolute;
	right: 25px;
	bottom: 13px;
	background-color: #4285f4;	
	border: none;
	text-transform: uppercase;
	padding: 7px 10px;
	border-radius: 6px;
}

#plus_title {
	width: 100%;
    display: block;
    font-size: 1.5em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #d4cfcf;
    margin-bottom: 20px;
    margin-top: 20px;
}

.writing-circle {
	font-size: 1.5em;
	color: #fff;
	background-color: #db4437;
	border-radius: 50%;
	display: block;
	position: fixed;
	bottom: 50px;
	right: 50px;
	height: 60px;
	width: 60px;
	z-index: 900;	
	-webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    border: none;
}

.btn-cat {
	margin: 0 10px;
	padding: 10px 20px;
    background-color: #efefef;
    border-radius: 8px;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
}

.form-control {
    border-radius: 0px;
    margin: 20px 0;
}

//sticky checkbox

.sticky-holder {
	position: absolute;
    display: inline-block;
    bottom: 5px;
    right: 50%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.sticky-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sticky-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sticky-slider {
  background-color: #2196F3;
}

input:focus + .sticky-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sticky-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.sticky-slider.round {
  border-radius: 34px;
}

.sticky-slider.round:before {
  border-radius: 50%;
}


//single post 
#single-wrapper .site-main, #page-wrapper .site-main, #full-width-page-wrapper .site-main, #archive-wrapper .site-main {
	/*max-width: 600px;*/
	display: block;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    z-index: 1;
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;
}

#single-wrapper .entry-title, #page-wrapper .entry-title, #full-width-page-wrapper .entry-title, #archive-wrapper .entry-title {
	padding-left: 20px;
	font-size: 24px;
    line-height: 24px;
    color: #000;
    margin-top: 8px;

}

#single-wrapper .entry-content p, #page-wrapper .entry-content p, #full-width-page-wrapper .entry-content p, #archive-wrapper .entry-content p{
	padding: 20px;
}

#single-wrapper .entry-content .gform_body, #page-wrapper .entry-content .gform_body, #full-width-page-wrapper .entry-content .gform_body{
	padding: 20px;
}

#plus-post .modal-body {
	padding-bottom: 70px;
}

.single p.form-submit {
	height: 40px;
	overflow: visible;
	margin-top: 10px;
}

.single .plus-comment-box {
	position: relative;
}

.single .comment-form-comment textarea {
	width: 90%;
	margin-bottom: 10px;
}

/*
comments
*/
.comment-respond {
	padding: 20px;
}

.comment-form-comment textarea {
	width: 80%;
	border: none;
	display: inline-block;
	position: absolute;
}

.plus-comment-submit {
	border: none;
	float: right;
	margin-top: 15px;
	text-transform: uppercase;
	color:#4285f4;
}

p.form-submit {
	height: 0;
	overflow: hidden;
}


/*
SINGLE POST
*/
.single .plus-author {
	padding: 0 20px 20px 20px;
}

.single h2 {
	padding: 0 20px 20px 20px;
	line-height: 35px;
}

#single-wrapper p.furl-description  {
	padding-top: 0;
}


.single .post-navigation {
	display: none;
}

.single .comments-title, .single .says {
	display: none;
}

.single ol.comment-list , .single ol.comment-list li {
	  list-style-type: none;
}

.single ol.comment-list {
	padding-left: 20px;
}

.single .avatar {
	border-radius: 50%;
}

.single .comment-metadata {
	display: inline-block;
	float: right;
	padding-right: 20px;
}

.single .comment-content {
	margin-left: 40px;
}

.single .reply {
	text-align: right;
	padding-right: 20px;	
}

.single .comment-body {
	margin-bottom: 10px;
}


/*FRONT END TINYMCE TOOLBAR*/
.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset, .wp-editor-container {
	border: 0 !important;
	box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.mce-top-part::before {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

div.mce-toolbar-grp {
	background-color: #fff !important;
	margin-top: 15px;
	font-size: 1.4em;
}

i.mce-i-aligncenter, i.mce-i-alignjustify, i.mce-i-alignleft, i.mce-i-alignright, i.mce-i-backcolor, i.mce-i-blockquote, i.mce-i-bold, i.mce-i-bullist, i.mce-i-charmap, i.mce-i-dashicon, i.mce-i-dfw, i.mce-i-forecolor, i.mce-i-fullscreen, i.mce-i-help, i.mce-i-hr, i.mce-i-indent, i.mce-i-italic, i.mce-i-link, i.mce-i-ltr, i.mce-i-numlist, i.mce-i-outdent, i.mce-i-pastetext, i.mce-i-pasteword, i.mce-i-redo, i.mce-i-remove, i.mce-i-removeformat, i.mce-i-spellchecker, i.mce-i-strikethrough, i.mce-i-underline, i.mce-i-undo, i.mce-i-unlink, i.mce-i-wp-media-library, i.mce-i-wp_adv, i.mce-i-wp_code, i.mce-i-wp_fullscreen, i.mce-i-wp_help, i.mce-i-wp_more, i.mce-i-wp_page {
	font: normal 25px/1 dashicons !important;
}
.mce-inline-toolbar-grp {
	border: 1px solid #c5c5c5 !important;
}

.mce-toolbar .mce-btn button, .qt-dfw {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.mce-toolbar .mce-btn-group .mce-btn.mce-active, .mce-toolbar .mce-btn-group .mce-btn:active, .qt-dfw.active {
	background-color: #fff!important;
}

.mce-btn.mce-active button, .mce-btn.mce-active:hover button, .mce-btn.mce-active i, .mce-btn.mce-active:hover i {
	background-color: #db4437!important;
}
.mce-toolbar .mce-btn-group .mce-btn.mce-active, .mce-toolbar .mce-btn-group .mce-btn:active, .qt-dfw.active {
	color: #666666 !important;
}

.mce-toolbar .mce-ico {
	height: auto !important;
	width: 100% !important;
	display: inline-block;
}

#search {
	background: rgba(0,0,0,.1);
	width: 600px;
	border: none;
	height: 45px;
	border-radius: 5px;
	padding-left: 20px;
}

/*LIKE*/

.like-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #efefef;
	border: none;
	margin-right: 10px;
}

/*AUTHOR PAGE*/
#author-wrapper .content-area {
	background-color: #fff;
}

#author-wrapper .avatar {
	border-radius: 50%;
}

#author-wrapper h1 {
	display: inline-block;
	margin-left: 20px;
	line-height: 40px;
}

/*AUTHOR SHORTCODE*/
.author-holder {
	display: flex;
	flex-wrap: wrap;
}

.author-holder .single-author {
	margin: 10px 15px;
	text-align: center;
	border-radius: 0;
	padding-top: 20px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    width: 200px;
    height: 250px;
}

.author-holder .single-author h2 {
	color: rgba(0,0,0,.87);
    font-size: 20px;
    font-weight: 300;
    margin: 16px 0;
    padding: 0;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    min-height: 56px;
    margin-left: 0;
}

.author-holder .single-author img {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin: 10px auto;
	display: block;
}

.hide {
	height: 0;
	width:0;
	overflow: hidden;
	transition: .3s all;
}

.searcher {
	background-color: #fff;
	border: 1px solid #000;
	margin: 10px;
	cursor: pointer;
	transition: all .3s;
	padding: 5px 10px;
}

.searcher:hover{
	background-color: #efefef;
}

.searcher.active {
	background-color: #db4437;
}

/*EDITOR BLOCK*/
.editor-button {
	border: 0;
	margin-left: 5px;
	transition: all .2s;
}

.editor-button:hover {
	margin-bottom: 2px;
}

.edit-block {
	display: block;
	width: 100px;
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
	padding: 12px;
	margin-left: auto;
	display: none;
}

.edit-block a {
	display: block;
	margin: 5px;
}

.edit-block.show-me {
	display: block
}


/*Youtube video resizer*/

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

p .video-responsive {
	margin-right: -20px;
	margin-left: -20px;
}

@media (max-width: 768px){
	// .search {
 //  		display: none;
 //  	}
  	.show ul {
  		background-color: #fff;
  		z-index: 3000;
  	}

  	.show ul li {
  		padding-left: 10px;  		
  	}
  	.show ul li:hover{
  		background-color: #efefef;
  		cursor: pointer;
  	}
  	  #search {
  		width: 150px;
  		overflow: hidden;
  	}
}

@media (min-width: 768px) {  
  .card-columns {
  	column-count: 2;
  }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 .card-columns {
 	column-count: 2;
 }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
   .card-columns {
   	column-count: 3;
   } 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 2200px) {  
   .card-columns {
   	column-count: 4;
   } 
}

